<% content_for :js do %>
  <%= javascript_include_tag "devise/registrations/edit" %>
<% end %>

<% content_for :blog_body do %>
  <%= render 'layouts/blog/breadcrumb', data: { :current => 'Profile', :breadcrumb => [{ :name => 'Home', :url => root_path }] } %>

  <section>
    <h2 align="center">Profile</h2>
    <div class="card">
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="mb-3">
            <%= f.label :email, class: 'form-label' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', required: 'required' %>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="mb-3">
            <%= f.label :password, class: 'form-label' %> <i>(leave blank if you don't want to change it)</i>
            <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
            <% if @minimum_password_length %>
              <em><%= @minimum_password_length %> characters minimum</em>
            <% end %>
          </div>

          <div class="mb-3">
            <%= f.label :password_confirmation, class: 'form-label' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
          </div>

          <div class="mb-3">
            <%= f.label :current_password, class: 'form-label' %>
            <i>(we need your current password to confirm your changes)</i>
            <%= f.password_field :current_password, autocomplete: "current-password", class: 'form-control' %>
          </div>

          <div class="actions">
            <%= f.submit "Update", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>

  </section>

  <section class="mt-3">
    <h3>Cancel my account</h3>
    <div class="card">
      <div class="card-body">
        <p>want cancel your account? </p>
        <%= form_with url: registration_path(resource_name), method: :delete, id: 'cancel_account_form' do |form| %>
          <a onclick="cancel_account()" class="btn btn-danger">Cancel my account</a>
        <% end %>
      </div>
    </div>
  </section>


<% end %>