<% content_for :js do %>
  <%= javascript_include_tag "comments/comment" %>
<% end %>

<% unless comment.archived? %>
  <div class="card border-success mb-3" style="border-width: 0 0 0 3px">
    <div class="card-body">
      <h6 class="card-subtitle mb-2 text-muted"><%= comment.commenter %></h6>
      <p class="card-text"><%= comment.body %></p>

      <div class="d-flex justify-content-between mt-2 gap-3">
        <small>Published on: <%= comment.created_at %></small>
        
        <%= form_with url: [comment.article, comment], method: :delete, id: 'delete_comment_form' do |form| %>
          <a onclick="delete_comment()" href="#">Delete</a>
        <% end %>
      </div>

    </div>
  </div>
<% end %>
