<% content_for :blog_body do %>
  <%= render 'layouts/blog/breadcrumb', data: { :current => 'Article', :breadcrumb => [{ :name => 'Home', :url => root_path }] } %>

  <div class="card ">
    <div class="card-body">
      <h5 class="card-title"><%= @article.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= @article.user.full_name %></h6>
      <p class="card-text"><%= @article.body %></p>
      <small>Published on: <%= @article.created_at %></small>

      <div class="d-flex justify-content-end align-items-center mt-2 gap-3">
        <% if user_signed_in? && @article.user_id == current_user.id %>
          <%= link_to "Edit", edit_article_path(@article) %>
          <%= form_with url: @article, method: :delete, id: 'delete_article_form' do |form| %>
            <%= form.button 'Delete', class: 'btn btn-link' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="m-2 p-2">
    <h5>Comments</h5>

    <% if @article.comments.present? %>
      <%= render @article.comments %>
    <% else %>
      <small>No comments ...</small>
    <% end %>

  </div>

  <h4>Add a comment:</h4>
  <% if user_signed_in? %>
    <%= render 'comments/form' %>
  <% else %>
    <span><%= link_to 'Login', new_user_session_path %> for comment</span>
  <% end %>
<% end %>
