<!DOCTYPE html>
<html>
<head>
  <title>FirstBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= yield :css %>

  <%= javascript_include_tag :application, integrity: true %>
  <%= yield :js %>
</head>

<body>

<!--  start navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">Articles Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      </ul>
      <div>
        <a type="button" class="btn btn-success" href="<%= new_article_path %>">New post</a>
      </div>
    </div>
  </div>
</nav>
<!--end navbar-->

<!--start page content-->
<div class="m-2">
  <%= yield %>
</div>
<!--end page content-->
</body>
</html>
