<!DOCTYPE html>
<html>
<head>
  <title>FirstBlog</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= yield :css %>

  <%= javascript_include_tag :application, integrity: true %>
  <%= yield :js %>
</head>

<body>
<% if content_for? :blog_body %>
  <header>
    <%= render 'layouts/blog/navbar' %>
  </header>
  <main role="main" class="p-3">
    <%= yield :blog_body %>
  </main>
<% else %>
  <%= yield %>
  <!--flash message required to devise gem-->
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>


</body>
</html>
