<div class="card w-75 mt-4 m-auto">
  <div class="card-header d-flex justify-content-center align-items-center">
    <a href="<%= user_session_path %>"><i data-feather="arrow-left-circle"></i></a>
    <h4 class="flex-grow-1" align="center">Sign up</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <label for="blogger_name" class="form-label">Name</label>
        <input id="blogger_name" type="text" name="blogger[name]" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="blogger_last_name" class="form-label">Last name</label>
        <input id="blogger_last_name" type="text" name="blogger[last_name]" class="form-control" required>
      </div>

      <div class="mb-3">
        <%= f.label :email, class: 'form-label' %>
        <%= f.email_field :email, autocomplete: "email", class: 'form-control', required: 'required' %>
      </div>

      <div class="mb-3">
        <%= f.label :password, class: 'form-label' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br/>
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control', required: 'required', minlength: 6 %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, class: 'form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', required: 'required', minlength: 6 %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>